<a href="https://colab.research.google.com/github/ejf78/cdc_vitalsigns/blob/master/Vital_Signs_Data_Supplement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vital Signs Data Supplement 

A notebook to grab additional data from BNIA's APIs. The plan is to grab all available indicators that I didn't previously pull, as well as grab the Baltimore City data for all indicators.

## Set Up

In [29]:
# clone the github respository, so that we have all the necessary files 
!git clone https://github.com/ejf78/cdc_vitalsigns.git

Cloning into 'cdc_vitalsigns'...
remote: Enumerating objects: 198, done.
remote: Counting objects: 100% (198/198), done.
remote: Compressing objects: 100% (176/176), done.
remote: Total 198 (delta 102), reused 71 (delta 22), pack-reused 0
Receiving objects: 100% (198/198), 75.85 MiB | 9.19 MiB/s, done.
Resolving deltas: 100% (102/102), done.
Checking out files: 100% (43/43), done.

In [30]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)

In [31]:
# load packages
import pandas as pd
import numpy as np
import os # for navigating directories
import requests # for API pull 
import geopandas as gpd

In [32]:
# navigate into the directory
os.chdir("cdc_vitalsigns")

## Pull from APIs

In [33]:
# api info 
# read list of indicators 
api_df = pd.read_csv("archive/VS-Indicator-APIs_EF.csv") # new version - I've labeled which API calls to make under 'pull'
api_df.set_index("ShortName", inplace=True, drop = False) # drop = False I want ShortName as a column 
# add column for indicator name (used in my own data)
api_df["indicator"] = [string.replace("XX","") if type(string) == str else None for string in api_df.ShortName ]
# get full list of indicators we indend to pull
full_indicator_list = set(api_df[api_df.pull == 1].indicator)
api_df.head()

           Indicator Number  ... indicator
ShortName                    ...
tpopXX                    1  ...      tpop
maleXX                    2  ...      male
femaleXX                  3  ...    female
paaXX                     4  ...       paa
pwhiteXX                  5  ...    pwhite

[5 rows x 7 columns]

In [34]:
# making use of previously created functions
def getGDFfromURL(url, layer=0, shortname = None):
    #GDF stands for GeoDataFrame; this is the innermost function called by getGDF
    tail = "/"+str(layer)+"/query?where=1%3D1&outFields=*&outSR=4326&f=json" #worked this out
    url+=tail
    print(url)
    # EF edits - for error handling in large batches
    try: 
      gdf = gpd.read_file(url) #GeoPandas has a built in function to read APIs given right URL
    except: 
      gdf = pd.DataFrame()
      print(f"Could not find results for {shortname}")
    return gdf

def getGDF(shortname, level=0):
    #This is outermost function called by user; it calls getGDFfromURL
    url = api_df.loc[shortname, "API"]
    return getGDFfromURL(url, level, shortname)

def getCollect(check_list, level = 0): # slight edit: I added level to this function 
    #This function collects all the target GDFs and puts into collection
    collect=[]
    for shortname in check_list:
        gdf=getGDF(shortname, level)
        collect.append(gdf)    
    return collect

#### Pulling new CSA-level values

In [35]:
### which indicators are new to pull? 

# get list of indicators that already exist in the data 
existing_df = pd.read_csv("full_vital_signs.csv")
# identify the new ones
new_indicators = full_indicator_list - set(existing_df.indicator)
# but now we need the shortnames again 
new_indicator_shortnames = list(api_df[api_df.indicator.isin(new_indicators)].ShortName)

In [36]:
# % driving alone is broken. Looking at the API url, it's an error 400
new_indicator_shortnames[21]
api_df.loc['drvaloneXX', "API"]
getGDF('drvaloneXX', level=0)

IndexError: ignored

In [ ]:
### make API pull
collect_new = getCollect(new_indicator_shortnames)

In [ ]:
# turn the collections into a dataframe
new_indicator_df = pd.concat(collect_new)
# drop geometry and objectID
new_indicator_df = new_indicator_df.drop(['OBJECTID','OBJECTID_1','Shape__Area', 'Shape__Length', "geometry"], axis = 1)
new_indicator_df.head()

In [ ]:
### reformat data 

# melt (pivot longer)
new_indicator_melted = new_indicator_df.melt(id_vars = ["CSA2010"], 
                                  var_name = "year-indicator", 
                                  value_name = "value")
# drop NAs (a result of simply appending everything together)
new_indicator_melted.dropna(subset = ["value"], inplace = True)
# drop a strange value (indicator = 'City', value = 'Baltimore City')
new_indicator_melted = new_indicator_melted[new_indicator_melted.value != "Baltimore City"].copy()
# add year column 
new_indicator_melted["year"] = ['20' + i[-2:] for i in new_indicator_melted['year-indicator']]
new_indicator_melted["year_numeric"] = [int(y) for y in new_indicator_melted.year]
# add column for indicator 
new_indicator_melted["indicator"] = [i[:-2] for i in new_indicator_melted["year-indicator"]]
# drop indicator-year field 
new_indicator_melted = new_indicator_melted.drop(["year-indicator"], axis = 1)

# pivot
new_indicator_melted

In [ ]:
# troubleshooting 
#set(new_indicator_melted[new_indicator_melted.year == '20ty']["year-indicator"])
#new_indicator_melted[(new_indicator_melted.year == '20ty')]

In [ ]:
### combining existing and new DF 
# PLACEHOLDER FOR NOW

#### Pulling Baltimore City values

In [ ]:
## using the full list of indicators, run the APIs to collect baltimore data 

# get shortnames 
full_indicator_shortnames = list(api_df[api_df.indicator.isin(full_indicator_list)].ShortName)

# pull from API
collect_balt = getCollect(full_indicator_shortnames, level = 1)

In [ ]:
# turn the collections into a dataframe
baltimore_df = pd.concat(collect_balt)
# save geometry separately, then drop geometry and objectID
balt_geo = baltimore_df[['OBJECTID','Shape__Area', 'Shape__Length', "geometry"]].copy()
baltimore_df = baltimore_df.drop(['OBJECTID','Shape__Area', 'Shape__Length', "geometry"], axis = 1)
#new_indicator_df = new_indicator_df.drop(['OBJECTID','Shape__Area', 'Shape__Length', "geometry"], axis = 1)
#new_indicator_df.head()
baltimore_df

In [ ]:
# examine 'city_1' vs. city
city_cols = [col for col in baltimore_df.columns if 'City' in col]
print(city_cols)
print(baltimore_df.City_1.unique())
print(baltimore_df.City.unique())

In [ ]:
### reformat data 

# make 'City' = 'Baltimore City' for all values 
baltimore_df.City = 'Baltimore City'
# drop City_1 column 
baltimore_df = baltimore_df.drop(["City_1"], axis = 1)
# melt (pivot longer)
balt_melted = baltimore_df.melt(id_vars = ["City"],
                                var_name = "year-indicator",
                                value_name = "value")
# drop NAs
balt_melted.dropna(subset = ["value"], inplace = True)
# add year column 
balt_melted["year"] = ['20' + i[-2:] for i in balt_melted['year-indicator']]
balt_melted['year_numeric'] = [int(y) for y in balt_melted.year]
# add col for indicator 
balt_melted["indicator"] = [i[:-2] for i in balt_melted['year-indicator']]
# drop year-indicator field 
balt_melted = balt_melted.drop(['year-indicator'], axis = 1)
# remove some strange values 
balt_melted = balt_melted[balt_melted.indicator != "CSA20"]
balt_melted

In [37]:
# how many indicators have data for Baltimore City? 
len(set(balt_melted.indicator))

130

## Producing full dataset

In [38]:
# grab column order 
existing_cols = existing_df.columns
existing_df.head(10)

                                 CSA indicator  year    value  year_numeric
0      Allendale/Irvington/S. Hilton    female  2000  10640.0        2000.0
1    Beechfield/Ten Hills/West Hills    female  2000   7110.0        2000.0
2                      Belair-Edison    female  2000   9516.0        2000.0
3  Brooklyn/Curtis Bay/Hawkins Point    female  2000   6972.0        2000.0
4                             Canton    female  2000   3546.0        2000.0
5                  Cedonia/Frankford    female  2000  12404.0        2000.0
6                        Cherry Hill    female  2000   4485.0        2000.0
7          Chinquapin Park/Belvedere    female  2000   4551.0        2000.0
8                Claremont/Armistead    female  2000   4612.0        2000.0
9                      Clifton-Berea    female  2000   6804.0        2000.0

In [39]:
# rename and reorder columns 
new_indicator_melted = new_indicator_melted.rename(columns = {"CSA2010": "CSA"})
new_indicator_melted = new_indicator_melted[existing_cols]
new_indicator_melted

                                      CSA indicator  ...      value year_numeric
0           Allendale/Irvington/S. Hilton    cashsa  ...      78.22         2011
1         Beechfield/Ten Hills/West Hills    cashsa  ...      32.05         2011
2                           Belair-Edison    cashsa  ...      66.67         2011
3       Brooklyn/Curtis Bay/Hawkins Point    cashsa  ...       73.4         2011
4                                  Canton    cashsa  ...      26.64         2011
...                                   ...       ...  ...        ...          ...
612124                Southwest Baltimore    lights  ...  24.322058         2020
612125                      The Waverlies    lights  ...  23.990713         2020
612126                Upton/Druid Heights    lights  ...  13.923806         2020
612127         Washington Village/Pigtown    lights  ...  32.164274         2020
612128     Westport/Mount Winans/Lakeland    lights  ...  14.608793         2020

[16490 rows x 5 columns]

In [40]:
# rename and reorder columns 
balt_melted = balt_melted.rename(columns = {"City": "CSA"})
balt_melted = balt_melted[existing_cols]
balt_melted

                   CSA indicator  year      value  year_numeric
0       Baltimore City      tpop  2010   620961.0          2010
237     Baltimore City      tpop  2020   585708.0          2020
475     Baltimore City      male  2010   292249.0          2010
713     Baltimore City    female  2010   328712.0          2010
951     Baltimore City       paa  2010   63.81723          2010
...                ...       ...   ...        ...           ...
246952  Baltimore City   totjobs  2018   323556.0          2018
247190  Baltimore City    lights  2015   6.134416          2015
247427  Baltimore City    lights  2016  21.387817          2016
247664  Baltimore City    lights  2017   30.61706          2017
247901  Baltimore City    lights  2018   17.08964          2018

[1969 rows x 5 columns]

In [41]:
# create one new dataframe 
full_data_new = existing_df.append(new_indicator_melted)
full_data_new = full_data_new.append(balt_melted)

In [42]:
# correcting formatting / typos 
full_data_new["indicator"] = full_data_new.indicator.str.lower()
full_data_new = full_data_new.replace("phsip", "phisp")
full_data_new = full_data_new.replace("artevent", "artevnt")
full_data_new = full_data_new.replace("age0-18_", "age18_")

In [43]:
# check that everything adds up as expected 
print(f"There should be {existing_df.shape[0] + balt_melted.shape[0] + new_indicator_melted.shape[0]} rows.")
print(f"There are {full_data_new.shape[0]} rows")

There should be 114198 rows.
There are 114198 rows

In [ ]:
# awesome!
# export 
full_data_new.to_csv("full_vital_signs.csv", index = False)

In [ ]:
set(balt_melted.indicator)

{'aastud',
 'abse',
 'abshs',
 'absmd',
 'affordm',
 'affordr',
 'age18_',
 'age24_',
 'age5_',
 'age64_',
 'age65_',
 'artbus',
 'artemp',
 'artevent',
 'artevnt',
 'bahigher',
 'baltvac',
 'birthwt',
 'bkln',
 'busload',
 'caracc',
 'carpool',
 'cashsa',
 'caslt',
 'cebus',
 'ceemp',
 'clogged',
 'cmos',
 'comp',
 'compl',
 'constper',
 'crehab',
 'crime',
 'demper',
 'dirtyst',
 'dom',
 'drop',
 'eattend',
 'ebll',
 'eenrol',
 'elheat',
 'empl',
 'fastfd',
 'female',
 'femhhs',
 'fore',
 'gunhom',
 'hcvhouse',
 'heatgas',
 'hh25inc',
 'hh40inc',
 'hh60inc',
 'hh75inc',
 'hhchpov',
 'hhm75',
 'hhpov',
 'hhs',
 'hhsize',
 'histax',
 'homtax',
 'hsattend',
 'hsdipl',
 'hsenrol',
 'hstud',
 'leadtest',
 'lesshs',
 'libcard',
 'lifexp',
 'lights',
 'liquor',
 'male',
 'mattend',
 'menrol',
 'mhhi',
 'murals',
 'narc',
 'neibus',
 'nilf',
 'nohhint',
 'nomail',
 'novhcl',
 'othrcom',
 'overd',
 'ownroc',
 'owntax',
 'p2more',
 'paa',
 'pasi',
 'phisp',
 'ppac',
 'prenatal',
 'prop',
 'publart',
 'pubtran',
 'pwhite',
 'racdiv',
 'regvote',
 'reosa',
 'resrehab',
 'salepr',
 'sclemp',
 'sclsw',
 'shomes',
 'shoot',
 'smlbus',
 'smlinvst',
 'tanf',
 'taxlien',
 'teenbir',
 'termbir',
 'totalres',
 'totjobs',
 'tpop',
 'trav14_',
 'trav29_',
 'trav44_',
 'trav45_',
 'treeplnt',
 'trees',
 'unempl',
 'unempr',
 'vacant',
 'vio',
 'viol',
 'voted',
 'walked',
 'weather',
 'wlksc',
 'wrkout',
 'wstud'}

## Create New Version of Indicator Info

In [ ]:
# info = vs[["indicator","year"]].groupby(["indicator"])["year"].apply(set).reset_index()

In [51]:
## get a list of years available for each indicator 
# function for a sorted set 
def sort_set(series):
  x = set(series)
  return sorted(x)
# add list of years available (sorted)
info = full_data_new[["indicator","year"]].groupby(['indicator'])['year'].apply(sort_set).reset_index()
info

    indicator                                               year
0      aastud  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...
1        abse  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...
2       abshs  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...
3       absmd  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...
4     affordm  [2000, 2006 - 2010, 2010, 2011, 2012, 2013, 20...
..        ...                                                ...
193    waterc                                             [2011]
194   weather         [2010, 2011, 2012, 2013, 2014, 2015, 2016]
195     wlksc                                       [2011, 2017]
196    wrkout   [2010, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
197     wstud  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...

[198 rows x 2 columns]

In [55]:
# add a description and category
api_df_subset = api_df.rename(columns = {"Indicator":"indicator_description","Section":"category"})[["indicator_description","indicator","category"]]
info = info.merge(api_df_subset, how = "left")
# add count of years avalable 
info["count_years_available"] = [len(yrs) for yrs in info.year]
info = info.sort_values(["category", "count_years_available"], ascending = [True, False])
# get a list of indicators that are available for baltimore city 
balt_indicators = set(full_data_new.query("CSA == 'Baltimore City'").indicator)
# add a column to indicate whether the data is available for Baltimore City 
info["baltimore_city_data_available"] = np.where(info.indicator.isin(balt_indicators), "yes", "no")
info.head()

   indicator  ... baltimore_city_data_available
13    artbus  ...                           yes
14    artemp  ...                           yes
92   libcard  ...                           yes
30     cebus  ...                           yes
31     ceemp  ...                           yes

[5 rows x 6 columns]

In [59]:
# write data
info.to_csv("indicator_info.csv", index = False)

In [ ]:
# which indicators don't have descriptions? 
info[info.indicator_description.isnull()]

                       indicator  ... count_years_available
36                          comp  ...                     8
74          historical_buildings  ...                     7
149                      publart  ...                     6
157      registered-voters_voted  ...                     6
158     registered_voters_18plus  ...                     6
132      pct18-25_registeredvote  ...                     5
133               pct18-25_voted  ...                     5
114    neighborhood-associations  ...                     4
185          umbrella_nonprofits  ...                     4
24            business_50-99_emp  ...                     3
134    pct_small_business_4yrold  ...                     3
8                      age45-64_  ...                     2
53           familiesrelatedkids  ...                     2
76         hs_degree_only_25plus  ...                     2
85     individuals_below_povline  ...                     2
119              non-car_commute  ...                     2
139                          pna  ...                     2
140                       pother  ...                     2
142                       ppacis  ...                     2
34    community_dev_corporations  ...                     1
35             community_gardens  ...                     1
60   hazardous_waste_sites_count  ...                     1
130           park_enviro_groups  ...                     1

[23 rows x 5 columns]

In [ ]:
set(full_data_new.indicator)

{'aastud',
 'abse',
 'abshs',
 'absmd',
 'affordm',
 'affordr',
 'age18_',
 'age24_',
 'age45-64_',
 'age5_',
 'age64_',
 'age65_',
 'arrest',
 'artbus',
 'artemp',
 'artevnt',
 'bahigher',
 'baltvac',
 'banks',
 'birthwt',
 'biz1_',
 'biz2_',
 'biz4_',
 'bkln',
 'business_50-99_emp',
 'busload',
 'caracc',
 'carpool',
 'cashsa',
 'caslt',
 'cebus',
 'ceemp',
 'clogged',
 'cmos',
 'community_dev_corporations',
 'community_gardens',
 'comp',
 'compl',
 'comprop',
 'constper',
 'crehab',
 'crime',
 'demper',
 'dirtyst',
 'dom',
 'domvio',
 'drop',
 'eattend',
 'ebll',
 'eenrol',
 'elheat',
 'empl',
 'fam',
 'familiesrelatedkids',
 'farms',
 'fastfd',
 'female',
 'femhhs',
 'fore',
 'gunhom',
 'hazardous_waste_sites_count',
 'hcvhouse',
 'heatgas',
 'hfai',
 'hh25inc',
 'hh40inc',
 'hh60inc',
 'hh75inc',
 'hhchpov',
 'hhm75',
 'hhpov',
 'hhs',
 'hhsize',
 'histax',
 'historical_buildings',
 'homtax',
 'hs_degree_only_25plus',
 'hsaalg',
 'hsabio',
 'hsaeng',
 'hsagov',
 'hsattend',
 'hsdipl',
 'hsenrol',
 'hstud',
 'individuals_below_povline',
 'juvarr',
 'juvdrug',
 'juvviol',
 'kra',
 'leadtest',
 'lesshs',
 'libcard',
 'lifexp',
 'lights',
 'liquor',
 'male',
 'math3',
 'math5',
 'math8',
 'mattend',
 'menrol',
 'mhhi',
 'mort14_',
 'mort1_',
 'mort24_',
 'mort44_',
 'mort64_',
 'mort84_',
 'mort85_',
 'murals',
 'narc',
 'neibus',
 'neiemp',
 'neighborhood-associations',
 'neiind',
 'nilf',
 'nohhint',
 'nomail',
 'non-car_commute',
 'novhcl',
 'numbus',
 'othrcom',
 'overd',
 'ownroc',
 'owntax',
 'p2more',
 'paa',
 'palg1',
 'palg2',
 'park_enviro_groups',
 'pasi',
 'pct18-25_registeredvote',
 'pct18-25_voted',
 'pct_small_business_4yrold',
 'phisp',
 'pmath3',
 'pmath5',
 'pmath8',
 'pna',
 'pother',
 'ppac',
 'ppacis',
 'prbprl',
 'pread3',
 'pread5',
 'pread8',
 'prenatal',
 'prop',
 'publart',
 'pubtran',
 'pwhite',
 'racdiv',
 'read3',
 'read5',
 'read8',
 'ready',
 'registered-voters_voted',
 'registered_voters_18plus',
 'regvote',
 'reosa',
 'resrehab',
 'salepr',
 'sclemp',
 'sclsw',
 'shomes',
 'shoot',
 'smlbus',
 'smlinvst',
 'sped',
 'susp',
 'tanf',
 'taxlien',
 'teenbir',
 'termbir',
 'totalres',
 'totemp',
 'totjobs',
 'tpop',
 'trav14_',
 'trav29_',
 'trav44_',
 'trav45_',
 'treeplnt',
 'trees',
 'umbrella_nonprofits',
 'unempl',
 'unempr',
 'vacant',
 'vio',
 'viol',
 'voted',
 'walked',
 'waterc',
 'weather',
 'wlksc',
 'wrkout',
 'wstud'}

## Odds and Ends (troubleshooting)

In [ ]:
full_data_new[full_data_new.indicator == "OBJECTID"]

                                     CSA indicator  year value  year_numeric
65593      Allendale/Irvington/S. Hilton  OBJECTID  20_1   1.0         201.0
65594    Beechfield/Ten Hills/West Hills  OBJECTID  20_1   2.0         201.0
65595                      Belair-Edison  OBJECTID  20_1   3.0         201.0
65596  Brooklyn/Curtis Bay/Hawkins Point  OBJECTID  20_1   4.0         201.0
65597                             Canton  OBJECTID  20_1   5.0         201.0
...                                  ...       ...   ...   ...           ...
67184                Southwest Baltimore  OBJECTID  20_1  51.0         201.0
67185                      The Waverlies  OBJECTID  20_1  52.0         201.0
67186                Upton/Druid Heights  OBJECTID  20_1  53.0         201.0
67187         Washington Village/Pigtown  OBJECTID  20_1  54.0         201.0
67188     Westport/Mount Winans/Lakeland  OBJECTID  20_1  55.0         201.0

[495 rows x 5 columns]

In [ ]:
# where is that coming from? 
print([col for col in new_indicator_df.columns if 'OBJ' in col or 'obj' in col])
print([col for col in baltimore_df.columns if 'OBJ' in col or 'obj' in col])
print([col for col in existing_df.columns if 'OBJ' in col or 'obj' in col])

['OBJECTID_1']
[]
[]

In [ ]:
# possible typo?
full_data_new[full_data_new.indicator == 'phsip']

                                         CSA indicator  ...    value year_numeric
29239          Allendale/Irvington/S. Hilton     phsip  ...   2.0627       2017.0
29240        Beechfield/Ten Hills/West Hills     phsip  ...   1.7848       2017.0
29241                          Belair-Edison     phsip  ...   1.2428       2017.0
29242      Brooklyn/Curtis Bay/Hawkins Point     phsip  ...   14.907       2017.0
29243                                 Canton     phsip  ...   3.0867       2017.0
29244                      Cedonia/Frankford     phsip  ...   3.3246       2017.0
29245                            Cherry Hill     phsip  ...   5.8131       2017.0
29246              Chinquapin Park/Belvedere     phsip  ...   5.9408       2017.0
29247                    Claremont/Armistead     phsip  ...  15.2484       2017.0
29248                          Clifton-Berea     phsip  ...    2.035       2017.0
29249                Cross-Country/Cheswolde     phsip  ...   2.6609       2017.0
29250               Dickeyville/Franklintown     phsip  ...   1.7958       2017.0
29251                   Dorchester/Ashburton     phsip  ...   0.9844       2017.0
29252                    Downtown/Seton Hill     phsip  ...   4.9594       2017.0
29253                      Edmondson Village     phsip  ...   1.3113       2017.0
29254                            Fells Point     phsip  ...  11.0376       2017.0
29255                   Forest Park/Walbrook     phsip  ...    1.024       2017.0
29256                         Glen-Fallstaff     phsip  ...   4.4992       2017.0
29257        Greater Charles Village/Barclay     phsip  ...   5.1898       2017.0
29258                         Greater Govans     phsip  ...   1.9487       2017.0
29259                      Greater Mondawmin     phsip  ...   1.0232       2017.0
29260        Greater Roland Park/Poplar Hill     phsip  ...   3.2656       2017.0
29261                       Greater Rosemont     phsip  ...   0.6456       2017.0
29262                        Greenmount East     phsip  ...   1.9738       2017.0
29263                               Hamilton     phsip  ...   1.6371       2017.0
29264               Harbor East/Little Italy     phsip  ...  14.6955       2017.0
29265                       Harford/Echodale     phsip  ...   3.2532       2017.0
29266                           Highlandtown     phsip  ...  16.8612       2017.0
29267             Howard Park/West Arlington     phsip  ...   0.7777       2017.0
29268              Inner Harbor/Federal Hill     phsip  ...   5.2542       2017.0
29269                             Lauraville     phsip  ...   3.8792       2017.0
29270                             Loch Raven     phsip  ...   2.0274       2017.0
29271                       Madison/East End     phsip  ...   8.9364       2017.0
29272   Medfield/Hampden/Woodberry/Remington     phsip  ...   3.6645       2017.0
29273                                Midtown     phsip  ...   6.0835       2017.0
29274                      Midway/Coldstream     phsip  ...   1.4103       2017.0
29275               Morrell Park/Violetville     phsip  ...   9.4101       2017.0
29276            Mount Washington/Coldspring     phsip  ...   4.2344       2017.0
29277      North Baltimore/Guilford/Homeland     phsip  ...   3.8546       2017.0
29278                              Northwood     phsip  ...   4.0873       2017.0
29279                    Oldtown/Middle East     phsip  ...   1.6044       2017.0
29280          Orangeville/East Highlandtown     phsip  ...  35.2274       2017.0
29281            Patterson Park North & East     phsip  ...  14.0166       2017.0
29282              Penn North/Reservoir Hill     phsip  ...   2.8763       2017.0
29283              Pimlico/Arlington/Hilltop     phsip  ...   0.5677       2017.0
29284  Poppleton/The Terraces/Hollins Market     phsip  ...   1.3653       2017.0
29285        Sandtown-Winchester/Harlem Park     phsip  ...   0.3332       2017.0
29286                        South Baltimore     phsip  ...   3.9731       2017.0
29287                           Southeastern     phsip  ...  25.5918       2017.0
29288                  Southern Park Heights     phsip  ...   1.8852       2017.0
29289                    Southwest Baltimore     phsip  ...   6.7328       2017.0
29290                          The Waverlies     phsip  ...   3.7239       2017.0
29291                    Upton/Druid Heights     phsip  ...   0.6366       2017.0
29292             Washington Village/Pigtown     phsip  ...   2.6467       2017.0
29293         Westport/Mount Winans/Lakeland     phsip  ...   7.4722       2017.0

[55 rows x 5 columns]

In [ ]:
# do we have 2017 data for phisp? 
set(full_data_new[full_data_new.indicator == 'phisp'].year)
# we do...

{'2000', '2010', '2015', '2016', '2017', '2018', '2019', '2020'}

In [ ]:
full_data_new[(full_data_new.indicator == 'phisp') & (full_data_new.year == '2017')]
# but it's only for Baltimore City. Safe to assume that phsip was a typo

                 CSA indicator  year     value  year_numeric
9962  Baltimore City     phisp  2017  4.957922        2017.0