<a href="https://colab.research.google.com/github/ejf78/cdc_vitalsigns/blob/master/Vital_Signs_Data_Supplement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vital Signs Data Supplement 

A notebook to grab additional data from BNIA's APIs. The plan is to grab all available indicators that I didn't previously pull, as well as grab the Baltimore City data for all indicators.

## Set Up

In [102]:
# clone the github respository, so that we have all the necessary files 
!git clone https://github.com/ejf78/cdc_vitalsigns.git

Cloning into 'cdc_vitalsigns'...
remote: Enumerating objects: 189, done.
remote: Counting objects: 100% (189/189), done.
remote: Compressing objects: 100% (168/168), done.
remote: Total 189 (delta 95), reused 69 (delta 21), pack-reused 0
Receiving objects: 100% (189/189), 75.65 MiB | 9.52 MiB/s, done.
Resolving deltas: 100% (95/95), done.
Checking out files: 100% (43/43), done.

In [103]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)

In [104]:
# load packages
import pandas as pd
import numpy as np
import os # for navigating directories
import requests # for API pull 
import geopandas as gpd

In [105]:
# navigate into the directory
os.chdir("cdc_vitalsigns")

## Pull from APIs

In [106]:
# api info 
# read list of indicators 
api_df = pd.read_csv("archive/VS-Indicator-APIs_EF.csv") # new version - I've labeled which API calls to make under 'pull'
api_df.set_index("ShortName", inplace=True, drop = False) # drop = False I want ShortName as a column 
# add column for indicator name (used in my own data)
api_df["indicator"] = [string.replace("XX","") if type(string) == str else None for string in api_df.ShortName ]
# get full list of indicators we indend to pull
full_indicator_list = set(api_df[api_df.pull == 1].indicator)
api_df.head()

           Indicator Number  ... indicator
ShortName                    ...
tpopXX                    1  ...      tpop
maleXX                    2  ...      male
femaleXX                  3  ...    female
paaXX                     4  ...       paa
pwhiteXX                  5  ...    pwhite

[5 rows x 7 columns]

In [107]:
# making use of previously created functions
def getGDFfromURL(url, layer=0, shortname = None):
    #GDF stands for GeoDataFrame; this is the innermost function called by getGDF
    tail = "/"+str(layer)+"/query?where=1%3D1&outFields=*&outSR=4326&f=json" #worked this out
    url+=tail
    print(url)
    # EF edits - for error handling in large batches
    try: 
      gdf = gpd.read_file(url) #GeoPandas has a built in function to read APIs given right URL
    except: 
      gdf = pd.DataFrame()
      print(f"Could not find results for {shortname}")
    return gdf

def getGDF(shortname, level=0):
    #This is outermost function called by user; it calls getGDFfromURL
    url = api_df.loc[shortname, "API"]
    return getGDFfromURL(url, level, shortname)

def getCollect(check_list, level = 0): # slight edit: I added level to this function 
    #This function collects all the target GDFs and puts into collection
    collect=[]
    for shortname in check_list:
        gdf=getGDF(shortname, level)
        collect.append(gdf)    
    return collect

#### Pulling new CSA-level values

In [108]:
### which indicators are new to pull? 

# get list of indicators that already exist in the data 
existing_df = pd.read_csv("full_vital_signs.csv")
# identify the new ones
new_indicators = full_indicator_list - set(existing_df.indicator)
# but now we need the shortnames again 
new_indicator_shortnames = list(api_df[api_df.indicator.isin(new_indicators)].ShortName)

In [109]:
# % driving alone is broken. Looking at the API url, it's an error 400
new_indicator_shortnames[21]
api_df.loc['drvaloneXX', "API"]
getGDF('drvaloneXX', level=0)

https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Dralone/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for drvaloneXX

Empty DataFrame
Columns: []
Index: []

In [110]:
### make API pull
collect_new = getCollect(new_indicator_shortnames)

https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Cashsa/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Taxlien/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Demper/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Histax/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Homtax/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Owntax/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Nomail/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort14_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort24_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort44_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort64_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort84_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort85_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Publart/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Artbus/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Artemp/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Wrkout/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Smlinvst/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Neiind/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Neibus/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Neiemp/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Dralone/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for drvaloneXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Carpool/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Trav14_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Trav29_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Trav44_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Trav45_/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Waterc/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Weather/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Eenrol/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Menrol/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hsenrol/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Treeplnt/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Cebus/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Ceemp/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Murals/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Totjobs/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Lights/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json

In [127]:
# turn the collections into a dataframe
new_indicator_df = pd.concat(collect_new)
# drop geometry and objectID
new_indicator_df = new_indicator_df.drop(['OBJECTID','OBJECTID_1','Shape__Area', 'Shape__Length', "geometry"], axis = 1)
new_indicator_df.head()

                             CSA2010  cashsa11  ...  lights19  lights20
0      Allendale/Irvington/S. Hilton     78.22  ...       NaN       NaN
1    Beechfield/Ten Hills/West Hills     32.05  ...       NaN       NaN
2                      Belair-Edison     66.67  ...       NaN       NaN
3  Brooklyn/Curtis Bay/Hawkins Point     73.40  ...       NaN       NaN
4                             Canton     26.64  ...       NaN       NaN

[5 rows x 310 columns]

In [128]:
### reformat data 

# melt (pivot longer)
new_indicator_melted = new_indicator_df.melt(id_vars = ["CSA2010"], 
                                  var_name = "year-indicator", 
                                  value_name = "value")
# drop NAs (a result of simply appending everything together)
new_indicator_melted.dropna(subset = ["value"], inplace = True)
# drop a strange value (indicator = 'City', value = 'Baltimore City')
new_indicator_melted = new_indicator_melted[new_indicator_melted.value != "Baltimore City"].copy()
# add year column 
new_indicator_melted["year"] = ['20' + i[-2:] for i in new_indicator_melted['year-indicator']]
new_indicator_melted["year_numeric"] = [int(y) for y in new_indicator_melted.year]
# add column for indicator 
new_indicator_melted["indicator"] = [i[:-2] for i in new_indicator_melted["year-indicator"]]
# drop indicator-year field 
new_indicator_melted = new_indicator_melted.drop(["year-indicator"], axis = 1)

# pivot
new_indicator_melted

                                  CSA2010      value  ... year_numeric  indicator
0           Allendale/Irvington/S. Hilton      78.22  ...         2011     cashsa
1         Beechfield/Ten Hills/West Hills      32.05  ...         2011     cashsa
2                           Belair-Edison      66.67  ...         2011     cashsa
3       Brooklyn/Curtis Bay/Hawkins Point       73.4  ...         2011     cashsa
4                                  Canton      26.64  ...         2011     cashsa
...                                   ...        ...  ...          ...        ...
612124                Southwest Baltimore  24.322058  ...         2020     lights
612125                      The Waverlies  23.990713  ...         2020     lights
612126                Upton/Druid Heights  13.923806  ...         2020     lights
612127         Washington Village/Pigtown  32.164274  ...         2020     lights
612128     Westport/Mount Winans/Lakeland  14.608793  ...         2020     lights

[16490 rows x 5 columns]

In [ ]:
# troubleshooting 
set(new_indicator_melted[new_indicator_melted.year == '20ty']["year-indicator"])
new_indicator_melted[(new_indicator_melted.year == '20ty')]

In [ ]:
### combining existing and new DF 
# PLACEHOLDER FOR NOW

#### Pulling Baltimore City values

In [114]:
## using the full list of indicators, run the APIs to collect baltimore data 

# get shortnames 
full_indicator_shortnames = list(api_df[api_df.indicator.isin(full_indicator_list)].ShortName)

# pull from API
collect_balt = getCollect(full_indicator_shortnames, level = 1)

https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Tpop/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Male/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Female/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Paa/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Pwhite/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Pasi/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/P2more/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Ppac/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Phisp/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Racdiv/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Age5_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Age18_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Age24_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Age64_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Age65_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hhs/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Femhhs/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Fam/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hhsize/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mhhi/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hh25inc/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hh40inc/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hh60inc/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hh75inc/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hhm75/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hhpov/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hhchpov/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Salepr/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Dom/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Shomes/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Ownroc/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Fore/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Vacant/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Vio/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Resrehab/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Totalres/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Cashsa/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Reosa/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Taxlien/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Demper/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Constper/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Baltvac/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Affordm/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Affordr/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Histax/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Homtax/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Owntax/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Nomail/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Crime/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Viol/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Prop/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Domvio/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for domvioXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Juvarr/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for juvarrXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Juvviol/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for juvviolXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Juvdrug/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for juvdrugXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Shoot/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Gunhom/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Caslt/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Narc/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Caracc/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Eattend/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mattend/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hsattend/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Aastud/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Wstud/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hstud/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Abse/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Absmd/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Abshs/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Susp/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for suspXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Farms/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for farmsXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Sped/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for spedXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Ready/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for readyXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Math3/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for math3XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Read3/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for read3XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Math5/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for math5XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Read5/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for read5XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Math8/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for math8XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Read8/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for read8XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hsaeng/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for hsaengXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hsabio/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for hsabioXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hsagov/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for hsagovXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hsaalg/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for hsaalgXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Drop/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Compl/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Sclsw/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Sclemp/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Teenbir/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Termbir/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Birthwt/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Prenatal/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Leadtest/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Ebll/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Tanf/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Liquor/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Fastfd/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Lifexp/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort1_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for mort1_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort14_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for mort14_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort24_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for mort24_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort44_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for mort44_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort64_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for mort64_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort84_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for mort84_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Mort85_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for mort85_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Overd/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Libcard/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Artevnt/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Publart/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Artbus/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Artemp/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Empl/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Unempl/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Nilf/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Unempr/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Lesshs/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Hsdipl/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Bahigher/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Comprop/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for compropXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Crehab/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Numbus/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for numbusXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Totemp/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for totempXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Smlbus/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Wrkout/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Smlinvst/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Banks/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for banksXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Biz1_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for biz1_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Biz2_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for biz2_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Biz4_/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for biz4_XX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Prbprl/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for prbprlXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Nohhint/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Neiind/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for neiindXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Neibus/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Neiemp/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
Could not find results for neiempXX
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Regvote/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Voted/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json
https://services1.arcgis.com/mVFRs7NF4iFitgbY/arcgis/rest/services/Dirtyst/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json

In [115]:
# turn the collections into a dataframe
baltimore_df = pd.concat(collect_balt)
# save geometry separately, then drop geometry and objectID
balt_geo = baltimore_df[['OBJECTID','Shape__Area', 'Shape__Length', "geometry"]].copy()
baltimore_df = baltimore_df.drop(['OBJECTID','Shape__Area', 'Shape__Length', "geometry"], axis = 1)
#new_indicator_df = new_indicator_df.drop(['OBJECTID','Shape__Area', 'Shape__Length', "geometry"], axis = 1)
#new_indicator_df.head()
baltimore_df

            City_1    tpop10    tpop20  ...   lights16  lights17  lights18
0   Baltimore City  620961.0  585708.0  ...        NaN       NaN       NaN
0              NaN       NaN       NaN  ...        NaN       NaN       NaN
0              NaN       NaN       NaN  ...        NaN       NaN       NaN
0              NaN       NaN       NaN  ...        NaN       NaN       NaN
0              NaN       NaN       NaN  ...        NaN       NaN       NaN
..             ...       ...       ...  ...        ...       ...       ...
0              NaN       NaN       NaN  ...        NaN       NaN       NaN
0              NaN       NaN       NaN  ...        NaN       NaN       NaN
0              NaN       NaN       NaN  ...        NaN       NaN       NaN
0              NaN       NaN       NaN  ...        NaN       NaN       NaN
0              NaN       NaN       NaN  ...  21.387817  30.61706  17.08964

[237 rows x 1048 columns]

In [116]:
# examine 'city_1' vs. city
city_cols = [col for col in baltimore_df.columns if 'City' in col]
print(city_cols)
print(baltimore_df.City_1.unique())
print(baltimore_df.City.unique())

['City_1', 'City']
['Baltimore City' nan]
[nan 'Baltimore City']

In [117]:
### reformat data 

# make 'City' = 'Baltimore City' for all values 
baltimore_df.City = 'Baltimore City'
# drop City_1 column 
baltimore_df = baltimore_df.drop(["City_1"], axis = 1)
# melt (pivot longer)
balt_melted = baltimore_df.melt(id_vars = ["City"],
                                var_name = "year-indicator",
                                value_name = "value")
# drop NAs
balt_melted.dropna(subset = ["value"], inplace = True)
# add year column 
balt_melted["year"] = ['20' + i[-2:] for i in balt_melted['year-indicator']]
balt_melted['year_numeric'] = [int(y) for y in balt_melted.year]
# add col for indicator 
balt_melted["indicator"] = [i[:-2] for i in balt_melted['year-indicator']]
# drop year-indicator field 
balt_melted = balt_melted.drop(['year-indicator'], axis = 1)
# remove some strange values 
balt_melted = balt_melted[balt_melted.indicator != "CSA20"]
balt_melted

                  City      value  year  year_numeric indicator
0       Baltimore City   620961.0  2010          2010      tpop
237     Baltimore City   585708.0  2020          2020      tpop
475     Baltimore City   292249.0  2010          2010      male
713     Baltimore City   328712.0  2010          2010    female
951     Baltimore City   63.81723  2010          2010       paa
...                ...        ...   ...           ...       ...
246952  Baltimore City   323556.0  2018          2018   totjobs
247190  Baltimore City   6.134416  2015          2015    lights
247427  Baltimore City  21.387817  2016          2016    lights
247664  Baltimore City   30.61706  2017          2017    lights
247901  Baltimore City   17.08964  2018          2018    lights

[1969 rows x 5 columns]

In [118]:
# how many indicators have data for Baltimore City? 
len(set(balt_melted.indicator))

130

## Producing full dataset

In [119]:
# grab column order 
existing_cols = existing_df.columns
existing_df.head(10)

                                 CSA indicator  year    value  year_numeric
0      Allendale/Irvington/S. Hilton    female  2000  10640.0        2000.0
1    Beechfield/Ten Hills/West Hills    female  2000   7110.0        2000.0
2                      Belair-Edison    female  2000   9516.0        2000.0
3  Brooklyn/Curtis Bay/Hawkins Point    female  2000   6972.0        2000.0
4                             Canton    female  2000   3546.0        2000.0
5                  Cedonia/Frankford    female  2000  12404.0        2000.0
6                        Cherry Hill    female  2000   4485.0        2000.0
7          Chinquapin Park/Belvedere    female  2000   4551.0        2000.0
8                Claremont/Armistead    female  2000   4612.0        2000.0
9                      Clifton-Berea    female  2000   6804.0        2000.0

In [129]:
# rename and reorder columns 
new_indicator_melted = new_indicator_melted.rename(columns = {"CSA2010": "CSA"})
new_indicator_melted = new_indicator_melted[existing_cols]
new_indicator_melted

                                      CSA indicator  ...      value year_numeric
0           Allendale/Irvington/S. Hilton    cashsa  ...      78.22         2011
1         Beechfield/Ten Hills/West Hills    cashsa  ...      32.05         2011
2                           Belair-Edison    cashsa  ...      66.67         2011
3       Brooklyn/Curtis Bay/Hawkins Point    cashsa  ...       73.4         2011
4                                  Canton    cashsa  ...      26.64         2011
...                                   ...       ...  ...        ...          ...
612124                Southwest Baltimore    lights  ...  24.322058         2020
612125                      The Waverlies    lights  ...  23.990713         2020
612126                Upton/Druid Heights    lights  ...  13.923806         2020
612127         Washington Village/Pigtown    lights  ...  32.164274         2020
612128     Westport/Mount Winans/Lakeland    lights  ...  14.608793         2020

[16490 rows x 5 columns]

In [121]:
# rename and reorder columns 
balt_melted = balt_melted.rename(columns = {"City": "CSA"})
balt_melted = balt_melted[existing_cols]
balt_melted

                   CSA indicator  year      value  year_numeric
0       Baltimore City      tpop  2010   620961.0          2010
237     Baltimore City      tpop  2020   585708.0          2020
475     Baltimore City      male  2010   292249.0          2010
713     Baltimore City    female  2010   328712.0          2010
951     Baltimore City       paa  2010   63.81723          2010
...                ...       ...   ...        ...           ...
246952  Baltimore City   totjobs  2018   323556.0          2018
247190  Baltimore City    lights  2015   6.134416          2015
247427  Baltimore City    lights  2016  21.387817          2016
247664  Baltimore City    lights  2017   30.61706          2017
247901  Baltimore City    lights  2018   17.08964          2018

[1969 rows x 5 columns]

In [159]:
# create one new dataframe 
full_data_new = existing_df.append(new_indicator_melted)
full_data_new = full_data_new.append(balt_melted)

In [160]:
# correcting formatting / typos 
full_data_new["indicator"] = full_data_new.indicator.str.lower()
full_data_new = full_data_new.replace("phsip", "phisp")
full_data_new = full_data_new.replace("artevent", "artevnt")
full_data_new = full_data_new.replace("age0-18_", "age18_")

In [161]:
# check that everything adds up as expected 
print(f"There should be {existing_df.shape[0] + balt_melted.shape[0] + new_indicator_melted.shape[0]} rows.")
print(f"There are {full_data_new.shape[0]} rows")

There should be 95739 rows.
There are 95739 rows

In [162]:
# awesome!
# export 
full_data_new.to_csv("full_vital_signs.csv", index = False)

In [152]:
set(balt_melted.indicator)

{'aastud',
 'abse',
 'abshs',
 'absmd',
 'affordm',
 'affordr',
 'age18_',
 'age24_',
 'age5_',
 'age64_',
 'age65_',
 'artbus',
 'artemp',
 'artevent',
 'artevnt',
 'bahigher',
 'baltvac',
 'birthwt',
 'bkln',
 'busload',
 'caracc',
 'carpool',
 'cashsa',
 'caslt',
 'cebus',
 'ceemp',
 'clogged',
 'cmos',
 'comp',
 'compl',
 'constper',
 'crehab',
 'crime',
 'demper',
 'dirtyst',
 'dom',
 'drop',
 'eattend',
 'ebll',
 'eenrol',
 'elheat',
 'empl',
 'fastfd',
 'female',
 'femhhs',
 'fore',
 'gunhom',
 'hcvhouse',
 'heatgas',
 'hh25inc',
 'hh40inc',
 'hh60inc',
 'hh75inc',
 'hhchpov',
 'hhm75',
 'hhpov',
 'hhs',
 'hhsize',
 'histax',
 'homtax',
 'hsattend',
 'hsdipl',
 'hsenrol',
 'hstud',
 'leadtest',
 'lesshs',
 'libcard',
 'lifexp',
 'lights',
 'liquor',
 'male',
 'mattend',
 'menrol',
 'mhhi',
 'murals',
 'narc',
 'neibus',
 'nilf',
 'nohhint',
 'nomail',
 'novhcl',
 'othrcom',
 'overd',
 'ownroc',
 'owntax',
 'p2more',
 'paa',
 'pasi',
 'phisp',
 'ppac',
 'prenatal',
 'prop',
 'publart',
 'pubtran',
 'pwhite',
 'racdiv',
 'regvote',
 'reosa',
 'resrehab',
 'salepr',
 'sclemp',
 'sclsw',
 'shomes',
 'shoot',
 'smlbus',
 'smlinvst',
 'tanf',
 'taxlien',
 'teenbir',
 'termbir',
 'totalres',
 'totjobs',
 'tpop',
 'trav14_',
 'trav29_',
 'trav44_',
 'trav45_',
 'treeplnt',
 'trees',
 'unempl',
 'unempr',
 'vacant',
 'vio',
 'viol',
 'voted',
 'walked',
 'weather',
 'wlksc',
 'wrkout',
 'wstud'}

## Create New Version of Indicator Info

In [ ]:
# info = vs[["indicator","year"]].groupby(["indicator"])["year"].apply(set).reset_index()

In [163]:
## get a list of years available for each indicator 
# function for a sorted set 
def sort_set(series):
  x = set(series)
  return sorted(x)
# add list of years available (sorted)
info = full_data_new[["indicator","year"]].groupby(['indicator'])['year'].apply(sort_set).reset_index()
info

    indicator                                               year
0      aastud  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...
1        abse  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...
2       abshs  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...
3       absmd  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...
4     affordm  [2000, 2006 - 2010, 2010, 2011, 2012, 2013, 20...
..        ...                                                ...
193    waterc                                             [2011]
194   weather         [2010, 2011, 2012, 2013, 2014, 2015, 2016]
195     wlksc                                       [2011, 2017]
196    wrkout   [2010, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
197     wstud  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...

[198 rows x 2 columns]

In [169]:
# add a description and category
api_df_subset = api_df.rename(columns = {"Indicator":"indicator_description","Section":"category"})[["indicator_description","indicator","category"]]
info = info.merge(api_df_subset, how = "left")
# add count of years avalable 
info["count_years_available"] = [len(yrs) for yrs in info.year]
info = info.sort_values(["category", "count_years_available"], ascending = [True, False])
info.head()

  indicator  ... count_years_available
0    artbus  ...                    10
1    artemp  ...                    10
2   libcard  ...                    10
3     cebus  ...                     9
4     ceemp  ...                     9

[5 rows x 5 columns]

In [165]:
# which indicators don't have descriptions? 
info[info.indicator_description.isnull()]

                       indicator  ... category
8                      age45-64_  ...      NaN
24            business_50-99_emp  ...      NaN
34    community_dev_corporations  ...      NaN
35             community_gardens  ...      NaN
36                          comp  ...      NaN
53           familiesrelatedkids  ...      NaN
60   hazardous_waste_sites_count  ...      NaN
74          historical_buildings  ...      NaN
76         hs_degree_only_25plus  ...      NaN
85     individuals_below_povline  ...      NaN
114    neighborhood-associations  ...      NaN
119              non-car_commute  ...      NaN
130           park_enviro_groups  ...      NaN
132      pct18-25_registeredvote  ...      NaN
133               pct18-25_voted  ...      NaN
134    pct_small_business_4yrold  ...      NaN
139                          pna  ...      NaN
140                       pother  ...      NaN
142                       ppacis  ...      NaN
149                      publart  ...      NaN
157      registered-voters_voted  ...      NaN
158     registered_voters_18plus  ...      NaN
185          umbrella_nonprofits  ...      NaN

[23 rows x 4 columns]

In [155]:
set(full_data_new.indicator)

{'aastud',
 'abse',
 'abshs',
 'absmd',
 'affordm',
 'affordr',
 'age0-18_',
 'age18_',
 'age24_',
 'age45-64_',
 'age5_',
 'age64_',
 'age65_',
 'arrest',
 'artbus',
 'artemp',
 'artevent',
 'artevnt',
 'bahigher',
 'baltvac',
 'banks',
 'birthwt',
 'biz1_',
 'biz2_',
 'biz4_',
 'bkln',
 'business_50-99_emp',
 'busload',
 'caracc',
 'carpool',
 'cashsa',
 'caslt',
 'cebus',
 'ceemp',
 'clogged',
 'cmos',
 'community_dev_corporations',
 'community_gardens',
 'comp',
 'compl',
 'comprop',
 'constper',
 'crehab',
 'crime',
 'demper',
 'dirtyst',
 'dom',
 'domvio',
 'drop',
 'eattend',
 'ebll',
 'eenrol',
 'elheat',
 'empl',
 'fam',
 'familiesrelatedkids',
 'farms',
 'fastfd',
 'female',
 'femhhs',
 'fore',
 'gunhom',
 'hazardous_waste_sites_count',
 'hcvhouse',
 'heatgas',
 'hfai',
 'hh25inc',
 'hh40inc',
 'hh60inc',
 'hh75inc',
 'hhchpov',
 'hhm75',
 'hhpov',
 'hhs',
 'hhsize',
 'histax',
 'historical_buildings',
 'homtax',
 'hs_degree_only_25plus',
 'hsaalg',
 'hsabio',
 'hsaeng',
 'hsagov',
 'hsattend',
 'hsdipl',
 'hsenrol',
 'hstud',
 'individuals_below_povline',
 'juvarr',
 'juvdrug',
 'juvviol',
 'kra',
 'leadtest',
 'lesshs',
 'libcard',
 'lifexp',
 'lights',
 'liquor',
 'male',
 'math3',
 'math5',
 'math8',
 'mattend',
 'menrol',
 'mhhi',
 'mort14_',
 'mort1_',
 'mort24_',
 'mort44_',
 'mort64_',
 'mort84_',
 'mort85_',
 'murals',
 'narc',
 'neibus',
 'neiemp',
 'neighborhood-associations',
 'neiind',
 'nilf',
 'nohhint',
 'nomail',
 'non-car_commute',
 'novhcl',
 'numbus',
 'othrcom',
 'overd',
 'ownroc',
 'owntax',
 'p2more',
 'paa',
 'palg1',
 'palg2',
 'park_enviro_groups',
 'pasi',
 'pct18-25_registeredvote',
 'pct18-25_voted',
 'pct_small_business_4yrold',
 'phisp',
 'pmath3',
 'pmath5',
 'pmath8',
 'pna',
 'pother',
 'ppac',
 'ppacis',
 'prbprl',
 'pread3',
 'pread5',
 'pread8',
 'prenatal',
 'prop',
 'publart',
 'pubtran',
 'pwhite',
 'racdiv',
 'read3',
 'read5',
 'read8',
 'ready',
 'registered-voters_voted',
 'registered_voters_18plus',
 'regvote',
 'reosa',
 'resrehab',
 'salepr',
 'sclemp',
 'sclsw',
 'shomes',
 'shoot',
 'smlbus',
 'smlinvst',
 'sped',
 'susp',
 'tanf',
 'taxlien',
 'teenbir',
 'termbir',
 'totalres',
 'totemp',
 'totjobs',
 'tpop',
 'trav14_',
 'trav29_',
 'trav44_',
 'trav45_',
 'treeplnt',
 'trees',
 'umbrella_nonprofits',
 'unempl',
 'unempr',
 'vacant',
 'vio',
 'viol',
 'voted',
 'walked',
 'waterc',
 'weather',
 'wlksc',
 'wrkout',
 'wstud'}

## Odds and Ends (troubleshooting)

In [ ]:
full_data_new[full_data_new.indicator == "OBJECTID"]

                                     CSA indicator  year value  year_numeric
65593      Allendale/Irvington/S. Hilton  OBJECTID  20_1   1.0         201.0
65594    Beechfield/Ten Hills/West Hills  OBJECTID  20_1   2.0         201.0
65595                      Belair-Edison  OBJECTID  20_1   3.0         201.0
65596  Brooklyn/Curtis Bay/Hawkins Point  OBJECTID  20_1   4.0         201.0
65597                             Canton  OBJECTID  20_1   5.0         201.0
...                                  ...       ...   ...   ...           ...
67184                Southwest Baltimore  OBJECTID  20_1  51.0         201.0
67185                      The Waverlies  OBJECTID  20_1  52.0         201.0
67186                Upton/Druid Heights  OBJECTID  20_1  53.0         201.0
67187         Washington Village/Pigtown  OBJECTID  20_1  54.0         201.0
67188     Westport/Mount Winans/Lakeland  OBJECTID  20_1  55.0         201.0

[495 rows x 5 columns]

In [126]:
# where is that coming from? 
print([col for col in new_indicator_df.columns if 'OBJ' in col or 'obj' in col])
print([col for col in baltimore_df.columns if 'OBJ' in col or 'obj' in col])
print([col for col in existing_df.columns if 'OBJ' in col or 'obj' in col])

['OBJECTID_1']
[]
[]

In [140]:
# possible typo?
full_data_new[full_data_new.indicator == 'phsip']

                                         CSA indicator  ...    value year_numeric
29239          Allendale/Irvington/S. Hilton     phsip  ...   2.0627       2017.0
29240        Beechfield/Ten Hills/West Hills     phsip  ...   1.7848       2017.0
29241                          Belair-Edison     phsip  ...   1.2428       2017.0
29242      Brooklyn/Curtis Bay/Hawkins Point     phsip  ...   14.907       2017.0
29243                                 Canton     phsip  ...   3.0867       2017.0
29244                      Cedonia/Frankford     phsip  ...   3.3246       2017.0
29245                            Cherry Hill     phsip  ...   5.8131       2017.0
29246              Chinquapin Park/Belvedere     phsip  ...   5.9408       2017.0
29247                    Claremont/Armistead     phsip  ...  15.2484       2017.0
29248                          Clifton-Berea     phsip  ...    2.035       2017.0
29249                Cross-Country/Cheswolde     phsip  ...   2.6609       2017.0
29250               Dickeyville/Franklintown     phsip  ...   1.7958       2017.0
29251                   Dorchester/Ashburton     phsip  ...   0.9844       2017.0
29252                    Downtown/Seton Hill     phsip  ...   4.9594       2017.0
29253                      Edmondson Village     phsip  ...   1.3113       2017.0
29254                            Fells Point     phsip  ...  11.0376       2017.0
29255                   Forest Park/Walbrook     phsip  ...    1.024       2017.0
29256                         Glen-Fallstaff     phsip  ...   4.4992       2017.0
29257        Greater Charles Village/Barclay     phsip  ...   5.1898       2017.0
29258                         Greater Govans     phsip  ...   1.9487       2017.0
29259                      Greater Mondawmin     phsip  ...   1.0232       2017.0
29260        Greater Roland Park/Poplar Hill     phsip  ...   3.2656       2017.0
29261                       Greater Rosemont     phsip  ...   0.6456       2017.0
29262                        Greenmount East     phsip  ...   1.9738       2017.0
29263                               Hamilton     phsip  ...   1.6371       2017.0
29264               Harbor East/Little Italy     phsip  ...  14.6955       2017.0
29265                       Harford/Echodale     phsip  ...   3.2532       2017.0
29266                           Highlandtown     phsip  ...  16.8612       2017.0
29267             Howard Park/West Arlington     phsip  ...   0.7777       2017.0
29268              Inner Harbor/Federal Hill     phsip  ...   5.2542       2017.0
29269                             Lauraville     phsip  ...   3.8792       2017.0
29270                             Loch Raven     phsip  ...   2.0274       2017.0
29271                       Madison/East End     phsip  ...   8.9364       2017.0
29272   Medfield/Hampden/Woodberry/Remington     phsip  ...   3.6645       2017.0
29273                                Midtown     phsip  ...   6.0835       2017.0
29274                      Midway/Coldstream     phsip  ...   1.4103       2017.0
29275               Morrell Park/Violetville     phsip  ...   9.4101       2017.0
29276            Mount Washington/Coldspring     phsip  ...   4.2344       2017.0
29277      North Baltimore/Guilford/Homeland     phsip  ...   3.8546       2017.0
29278                              Northwood     phsip  ...   4.0873       2017.0
29279                    Oldtown/Middle East     phsip  ...   1.6044       2017.0
29280          Orangeville/East Highlandtown     phsip  ...  35.2274       2017.0
29281            Patterson Park North & East     phsip  ...  14.0166       2017.0
29282              Penn North/Reservoir Hill     phsip  ...   2.8763       2017.0
29283              Pimlico/Arlington/Hilltop     phsip  ...   0.5677       2017.0
29284  Poppleton/The Terraces/Hollins Market     phsip  ...   1.3653       2017.0
29285        Sandtown-Winchester/Harlem Park     phsip  ...   0.3332       2017.0
29286                        South Baltimore     phsip  ...   3.9731       2017.0
29287                           Southeastern     phsip  ...  25.5918       2017.0
29288                  Southern Park Heights     phsip  ...   1.8852       2017.0
29289                    Southwest Baltimore     phsip  ...   6.7328       2017.0
29290                          The Waverlies     phsip  ...   3.7239       2017.0
29291                    Upton/Druid Heights     phsip  ...   0.6366       2017.0
29292             Washington Village/Pigtown     phsip  ...   2.6467       2017.0
29293         Westport/Mount Winans/Lakeland     phsip  ...   7.4722       2017.0

[55 rows x 5 columns]

In [141]:
# do we have 2017 data for phisp? 
set(full_data_new[full_data_new.indicator == 'phisp'].year)
# we do...

{'2000', '2010', '2015', '2016', '2017', '2018', '2019', '2020'}

In [143]:
full_data_new[(full_data_new.indicator == 'phisp') & (full_data_new.year == '2017')]
# but it's only for Baltimore City. Safe to assume that phsip was a typo

                 CSA indicator  year     value  year_numeric
9962  Baltimore City     phisp  2017  4.957922        2017.0